<h1>Create a new landmark</h1>

<form action="/landmarks" method="post">
  <h2>Landmark name: <input type="text" name="landmark[name]" id="landmark_name"></input></h2>

  <h2>Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></input></h2>

  <h2>create or a select a related figure:
  <h3>Name:  <input type="text" name="figure[name]" id="new_figure"></input></h3>

 
  
  <input type="submit" value="Create New Landmark"></input>
</form>