
<h2>Figure: </h2>
    <% @figures.each do |figure| %>
      <h3><a href="/figures/<%= figure.id %>"><%= figure.name %></a></h3>
        <%figure.titles.each do |title|%>
        <%=title.name%>
        <%end%>
    
    
  <% end %>

<br>
<a class="button" href="/">Go Home</a>